<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('bootstrapMetaData')%>
		<title>Home</title>
		<style></style>
	</head>

	<body>
		<%- include('header') %>
		<div class="w-75 mx-auto mt-5">
			<br />

			<div class="row">
				<div class="col-6">
					<h2>List of Students:</h2>
				</div>

				<div class="col-6 d-flex justify-content-end">
					<a href="/students/add" type="button" class="btn btn-success align-self-center">+ Add Student</a>
				</div>
			</div>

			<% if(students.length > 0) {%>
			<div class="mt-3 mb-3">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">SL.NO</th>
							<th scope="col">Batch</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Contact</th>
							<th scope="col">DSA</th>
							<th scope="col">WEB</th>
							<th scope="col">REACT</th>
							<th scope="col">Company Name</th>
							<th scope="col">Interview Date</th>
							<th scope="col">Status</th>
							<th scope="col" class="text-end">Action</th>
						</tr>
					</thead>

					<tbody id="myTable">
						<% students.forEach((student, idx) => { %>
							<% if(student.interviews.length) { %>

								<% for(let interview of student.interviews) { %>
									<tr>
										<th scope="row"><%= idx + 1 %></th>
										<td><%=student.batch%></td>
										<td><%=student.name%></td>
										<td><%=student.email%></td>
										<td><%=student.contactNumber%></td>
										<td><%=student.dsa%></td>
										<td><%=student.webd%></td>
										<td><%=student.react%></td>
										<td><%= interview.company %></td>
										<td><%= interview.date %></td>
										<td><%= interview.result %></td>
										<td style="display: flex; justify-content: space-around; align-items: center">
											<a href="/students/delete/<%=student.id%>" type="button" class="btn btn-danger btn-small">Delete</a>
										</td>
									</tr>
								<% } %>
							<% } else { %>
								<tr>
									<th scope="row"><%= idx + 1 %></th>
									<td><%=student.batch%></td>
									<td><%=student.name%></td>
									<td><%=student.email%></td>
									<td><%=student.contactNumber%></td>
									<td><%=student.dsa%></td>
									<td><%=student.webd%></td>
									<td><%=student.react%></td>
									<td>NONE</td>
									<td>NONE</td>
									<td>NONE</td>
									<td style="display: flex; justify-content: space-around; align-items: center">
										<a href="/students/delete/<%=student.id%>" type="button" class="btn btn-danger btn-small">Delete</a>
									</td>
								</tr>
							<% } %>
							
						<%})%>
					</tbody>
				</table>
			</div>
			<%}else{%>
			<div class="w-75 mx-auto mt-5">
				<h2>No Records Found</h2>
			</div>
			<%}%>
		</div>
		<%- include('bootstrapScript')%>
	</body>
</html>
